In [42]:
import pandas as pd
import numpy as np
## plotting libraries
from matplotlib import pyplot as plt
## Sklearn libraries
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.preprocessing import MinMaxScaler

Round 1

In [14]:
# Import the required libraries and modules that you would need.
# Read that data into Python and call the dataframe churnData.
churnData = pd.read_csv('DATA_Customer-Churn.csv')

In [15]:
# Check the datatypes of all the columns in the data. 
# You will see that the column TotalCharges is object type. 
churnData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   OnlineSecurity    7043 non-null   object
 7   OnlineBackup      7043 non-null   object
 8   DeviceProtection  7043 non-null   object
 9   TechSupport       7043 non-null   object
 10  StreamingTV       7043 non-null   object
 11  StreamingMovies   7043 non-null   object
 12  Contract          7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7043 non-null   object
 15  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 880.5+ KB

In [24]:
# Convert this column into numeric type using pd.to_numeric function.

churnData['TotalCharges'] = churnData['TotalCharges'].replace(' ',0)

churnData["TotalCharges"]=pd.to_numeric(churnData["TotalCharges"], errors='raise')

churnData["TotalCharges"].dtype

dtype('float64')

In [29]:
# Check for null values in the dataframe. 
churnData.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [30]:
# Replace the null values.
churnData.fillna(churnData.mean(), inplace=True)

C:\Users\santi\AppData\Local\Temp\ipykernel_4700\2103808584.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  churnData.fillna(churnData.mean(), inplace=True)

In [33]:
# Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges
churnData.drop(['gender','Partner','Dependents','PhoneService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract'], axis=1, inplace=True)
churnData.info

<bound method DataFrame.info of       SeniorCitizen  tenure  MonthlyCharges  TotalCharges Churn
0                 0       1           29.85         29.85    No
1                 0      34           56.95       1889.50    No
2                 0       2           53.85        108.15   Yes
3                 0      45           42.30       1840.75    No
4                 0       2           70.70        151.65   Yes
...             ...     ...             ...           ...   ...
7038              0      24           84.80       1990.50    No
7039              0      72          103.20       7362.90    No
7040              0      11           29.60        346.45    No
7041              1       4           74.40        306.60   Yes
7042              0      66          105.65       6844.50    No

[7043 rows x 5 columns]>

In [37]:
# Defining X and y
X = churnData.drop('Churn', axis=1)
y = churnData['Churn']

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [43]:
#Scale the features either by using normalizer or a standard scaler
scaler = MinMaxScaler()
X_normalized = scaler.fit_transform(X)