# Pandas: grouping

In [2]:
import pandas as pd
import numpy as np

In [3]:
cars = pd.read_csv("vehicles.csv")

In [4]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [36]:
### your code is here
cars["Make"].value_counts()

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, Length: 127, dtype: int64

group by the data by the Make  using count function

In [7]:
### your code us here
cars.groupby("Make").count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [23]:
### your code us here
#cars.groupby("Make").count()
#cars.groupby("Make")["Model"].count().sort_values(ascending=False)
cars["Make"].max()

'smart'

<b>show the average CO2_Emission_Grams/Km  by Brand

In [33]:
### your code us here
cars.groupby(["CO2 Emission Grams/Mile","Make"]).mean()

                                        Year  Engine Displacement  Cylinders  \
CO2 Emission Grams/Mile Make
37.000000               BMW          2016.00                 0.60        2.0
40.000000               BMW          2014.50                 0.60        2.0
51.000000               Chevrolet    2016.50                 1.50        4.0
81.000000               Chevrolet    2014.00                 1.40        4.0
84.000000               Chevrolet    2011.00                 1.40        4.0
...                                      ...                  ...        ...
1110.875000             Ferrari      1999.00                 5.35       12.0
                        Maserati     1985.50                 4.90        8.0
                        Rolls-Royce  1986.25                 6.80        8.0
                        Vector       1992.50                 6.00        8.0
1269.571429             Lamborghini  1988.00                 5.20       12.0

                                     Fuel Barrels/Year   City MPG  \
CO2 Emission Grams/Mile Make
37.000000               BMW                   1.563190  41.000000
40.000000               BMW                   1.563190  41.000000
51.000000               Chevrolet             2.006844  43.000000
81.000000               Chevrolet             3.092539  35.000000
84.000000               Chevrolet             3.375621  35.000000
...                                                ...        ...
1110.875000             Ferrari              41.201250   7.000000
                        Maserati             41.201250   7.000000
                        Rolls-Royce          41.201250   7.166667
                        Vector               41.201250   7.000000
1269.571429             Lamborghini          47.087143   6.000000

                                     Highway MPG  Combined MPG  Fuel Cost/Year
CO2 Emission Grams/Mile Make
37.000000               BMW            37.000000          39.0          1050.0
40.000000               BMW            37.000000          39.0          1050.0
51.000000               Chevrolet      42.000000          42.0           800.0
81.000000               Chevrolet      40.000000          37.0          1100.0
84.000000               Chevrolet      40.000000          37.0          1100.0
...                                          ...           ...             ...
1110.875000             Ferrari        11.000000           8.0          5050.0
                        Maserati       10.000000           8.0          4150.0
                        Rolls-Royce     9.333333           8.0          4150.0
                        Vector         10.000000           8.0          5050.0
1269.571429             Lamborghini    10.000000           7.0          5800.0

[3582 rows x 8 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [38]:
### your code us here
cars.groupby(["CO2 Emission Grams/Mile","Make"]).mean().sort_values(by="CO2 Emission Grams/Mile", ascending=True)

                                        Year  Engine Displacement  Cylinders  \
CO2 Emission Grams/Mile Make
37.000000               BMW           2016.0                 0.60        2.0
40.000000               BMW           2014.5                 0.60        2.0
51.000000               Chevrolet     2016.5                 1.50        4.0
81.000000               Chevrolet     2014.0                 1.40        4.0
84.000000               Chevrolet     2011.0                 1.40        4.0
...                                      ...                  ...        ...
1110.875000             Maserati      1985.5                 4.90        8.0
                        Vector        1992.5                 6.00        8.0
                        Aston Martin  1985.0                 5.30        8.0
                        Ferrari       1999.0                 5.35       12.0
1269.571429             Lamborghini   1988.0                 5.20       12.0

                                      Fuel Barrels/Year  City MPG  \
CO2 Emission Grams/Mile Make
37.000000               BMW                    1.563190      41.0
40.000000               BMW                    1.563190      41.0
51.000000               Chevrolet              2.006844      43.0
81.000000               Chevrolet              3.092539      35.0
84.000000               Chevrolet              3.375621      35.0
...                                                 ...       ...
1110.875000             Maserati              41.201250       7.0
                        Vector                41.201250       7.0
                        Aston Martin          41.201250       7.0
                        Ferrari               41.201250       7.0
1269.571429             Lamborghini           47.087143       6.0

                                      Highway MPG  Combined MPG  \
CO2 Emission Grams/Mile Make
37.000000               BMW             37.000000          39.0
40.000000               BMW             37.000000          39.0
51.000000               Chevrolet       42.000000          42.0
81.000000               Chevrolet       40.000000          37.0
84.000000               Chevrolet       40.000000          37.0
...                                           ...           ...
1110.875000             Maserati        10.000000           8.0
                        Vector          10.000000           8.0
                        Aston Martin     9.333333           8.0
                        Ferrari         11.000000           8.0
1269.571429             Lamborghini     10.000000           7.0

                                      Fuel Cost/Year
CO2 Emission Grams/Mile Make
37.000000               BMW                   1050.0
40.000000               BMW                   1050.0
51.000000               Chevrolet              800.0
81.000000               Chevrolet             1100.0
84.000000               Chevrolet             1100.0
...                                              ...
1110.875000             Maserati              4150.0
                        Vector                5050.0
                        Aston Martin          4150.0
                        Ferrari               5050.0
1269.571429             Lamborghini           5800.0

[3582 rows x 8 columns]

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [ ]:
cars['Year'].describe()

In [ ]:
## your code here

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [ ]:
### your code is here

Which brands are more environment friendly?

In [ ]:
### your code is here

Does the drivetrain affect fuel consumption?

In [ ]:
## Your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [ ]:
## Your Code here

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [ ]:
## your code is here

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here